.color_footer{

    background-color: #6b7ca0;

}

.navbar-inverse {
    background-color: #6b7ca0 !important;
    border-color: #38355f !important;
        border: none !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2c235d !important;
}



#panel{
        background-color: rgba(999, 999, 999, 0.3);
            width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    height: 4em;
        text-align: center;
}
#panel button{
        display: inline-block;
    margin-top: 11px;
}

#footer{
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

}

body{
    background-color: #d9ecd0;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

.spacer{
    min-height: 850px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.textconfi{
    color: white;
}